<?xml version="1.0"?>
<launch> 

  <!-- RVIZ -->
  <!--
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find aruco_mapping)/launch/aruco_config.rviz" />
  -->

  <arg name="gui" default="0"/>

  <!-- ArUco mapping -->
  <node pkg="aruco_mapping" type="aruco_mapping" name="aruco_mapping" output="screen">
	<remap from="/image_raw" to="/zed/camera/left/image_raw"/>

    <param name="calibration_file" type="string" value="$(find aruco_mapping)/data/zed.ini" /> 
	<!-- Never have more than num markers, or it will crash -->
    <param name="num_of_markers" type="int" value="10" />
    <param name="marker_size" type="double" value="0.268"/>
    <param name="space_type" type="string" value="plane" />
    <param name="roi_allowed" type="bool" value="false" /> 
    <param name="roi_x" type="int" value="0" /> 
    <param name="roi_y" type="int" value="0" /> 
    <param name="roi_width" type="int" value="1280" /> 
    <param name="roi_height" type="int" value="720" /> 
    <param name="gui" type="bool" value="$(arg gui)" />

	<!-- ArUco tag ids  -->
    <param name="left_id" type="int" value="85"/>
    <param name="middle_id" type="int" value="83"/>
    <param name="right_id" type="int" value="82"/>

    <param name="tag_offset" type="double" value="0.48"/>

	<!-- Collector bin cartesian coordinates -->
    <param name="cartx" type="double" value="0.0"/>
    <param name="carty" type="double" value="0.0"/>
    <param name="cartz" type="double" value="0.3"/>

    <param name="roll" type="double" value="-1.5708"/>
    <param name="pitch" type="double" value="-1.5708"/>
    <param name="yaw" type="double" value="0.0"/>
    <!-- Quaternion angle offset -->
	<!--
    <param name="pitch" type="double" value="1.5708"/>
    <param name="quatx" type="double" value="0.0"/>
    <param name="quaty" type="double" value="-0.707"/>
    <param name="quatz" type="double" value="0.0"/>
    <param name="quatw" type="double" value="0.707"/>
	-->

  </node>  
</launch>
